// Place all the styles related to the Departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* CSS Document
 * Based on parallax template 
 * and Standard Han template
 * Modified by Mimee on 1 July, 2013 
 */
@charset "utf-8";

@font-face {
    font-family: 'ff-han';
    src: local("Hiragino Sans GB");
    font-weight: normal;
    font-style: normal;

}
a:link {
    text-decoration: none !important;
    color:#0066CC;
 }
a:active,a:hover{
    color:white;

}
@font-face {
    font-family: 'bf-han';
    src: local(STHeiti), local(SimHei), local(STXihei);
    unicode-range: U+4E00-9FA5;
    font-weight: normal;
    font-style: normal;

}

.left-bar {
    float:left;
    top:0px;
    left:0px;
    width: 22%;
    height:100%;
    position:fixed;
    z-index:1;
    opacity:0.9;
}
.left-bar{
    background-image: linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -o-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -moz-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -webkit-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -ms-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.37, rgb(200,229,255)),
        color-stop(0.69, rgb(224,240,255)));
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}

.onemanlogo{
    position:relative;
    top:10px;
    left:15%;
    width:70%;
    margin-top:0px;
    margin-left:0px;
    z-index:1;
    opacity: 0.9;
}

.navigation{
    position:absolute;
    z-index:1;
    top:30px;
    width:100%;
}
.navigation li{
    font-family:'ff-han';/*could be bf*/
    color:#0066CC;
    display:block;
    padding: 0 10px;
    line-height:30px;
    margin-bottom:2px;
    margin-right: 2px;
    font-weight:bold;
    -webkit-transition: all .5s ease－in－out;
    /*border-bottom:1px solid black;*/
    text-align: right;
    /*width:170px;*/
}
.navigation li:hover,.active{
    font-size:22pt;
    text-align: right;
    margin-right: 4px;
    color:white;
    text-shadow:1px 1px 0px #528ecc;
    cursor:pointer;
    -webkit-transition: all .8s ease－in－out;
    width:100%!important;
}
/**
 * Content starts here
 * with parallax effect
 */
.right-block {
    float: right;
    margin: 0 0 0 0px;
    position:fixed;
    height: 100%;
    right:0px;
    top:0px;
    width:78%;
    overflow:scroll;
    z-index: 1;
}
.right-block{
    background-image: linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -o-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -moz-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -webkit-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);
    background-image: -ms-linear-gradient(left bottom, rgb(200,229,255) 37%, rgb(224,240,255) 69%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.37, rgb(200,229,255)),
        color-stop(0.69, rgb(224,240,255)));
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}
/**
 * Sharing on platforms, currently not used
 */
/*.sharePanel{
    position:absolute;
    background-color: rgba(163,172,225,0.3);
    top:0px;
    left:80%;
    max-width:300px;
    z-index:1;
    box-shadow:inset 0px 10px 10px rgba(0,0,0,0.3);
}*/
/**
 * Frame for pretty images or just central object.
 */
.centralFrame{
    position:relative;
    top:25px;
    left: 0px;
    width: 100%;
    text-align: center;
}
.booklistFrame{
    position:relative;
    top:15px;
    left: 5px;
    width: 100%;
    text-align: center;
}

.parallaxbg{
    position:absolute;
    display: block;
    text-shadow:1px 1px 0px #528ecc;
    /*background-image: linear-gradient(right bottom, rgba(190,229,250,0.5) 36%, rgba(147,206,238,0.5) 71%);
    background-image: -o-linear-gradient(right bottom, rgba(190,229,250,0.5) 36%, rgba(147,206,238,0.5) 71%);
    background-image: -moz-linear-gradient(right bottom, rgba(190,229,250,0.5) 36%, rgba(147,206,238,0.5) 71%);
    background-image: -webkit-linear-gradient(right bottom, rgba(190,229,250,0.5) 36%, rgba(147,206,238,0.5) 71%);
    background-image: -ms-linear-gradient(right bottom, rgba(190,229,250,0.5) 36%, rgba(147,206,238,0.5) 71%);
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0.36, rgba(190,229,250,0.5)),
        color-stop(0.71, rgba(147,206,238,0.5))
    );*/
    padding-left: 20px;
    padding-right: 20px;
    left:20px;
    right:20px;
    top:0px;
    font-size:20px;
    color:rgba(0,86,161,0.9);
    z-index:1;
    height: 40px;
    text-align: center;
    font-family:"ff-han";
}
/**
 * Wrapper for content, such as lists
 */
.wrapper{
    top:0;
    width:100%;
    margin:0 0 0px;
    position: relative;
}

/**
 * Frame for form; very central
 */
.formFrame{
    top:10%;
    margin-left: 15%;
    width:70%;
    vertical-align: middle;
    position: relative;
}
/**
 * Fixed lower bar
 */
.topbar{
    column-count: 4;
    column-gap: 20px;
    height: 350px;
    /*z-index: 1;
    vertical-align: middle;
    top: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;*/

    /*background-color: rgba(0,0,0,0.2);
    box-shadow:inset 0px 2px 2px rgba(0,0,0,0.1);*/
 }
.storyFrame{
    z-index: 1;
    display: block;
    top:20px;
    left: 10%;
    width: 70%;
    position: relative;
    overflow: scroll;
}

/**
 * \brief Choices
 * \details Just in case we need buttons for content
 * \remarks Currently hidden due to restyling.
 */
.choice {

    -moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
    box-shadow:inset 0px 1px 0px 0px #bbdaf7;

    background-color:#79bbff;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #84bbf3;

    display:inline-block;
    color:#ffffff;
    font-family:"ff-han";
    font-weight:bold;
    padding:5px 2px;
    text-decoration:none;
    opacity: 0.7;
    text-shadow:0px 1px 0px #528ecc;
    z-index: 2;

}
.choice:hover {
    opacity: 1;
    background-color:#378de5;
}
.choice:active {
    position:relative;
    top:1px;
}
.roundLogo{
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    border-radius:40px;
    border:0px solid #eeb44f;
}

.css_btn_class {
    font-size:16px;
    font-family:"ff-han";
    font-weight:normal;
    -moz-border-radius:34px;
    -webkit-border-radius:34px;
    border-radius:34px;
    border:0px solid #eeb44f;
    padding:9px 18px;
    text-decoration:none;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffce79), color-stop(100%, #eeaf41) );
    background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
    background:-ms-linear-gradient( top, #ffce79 5%, #eeaf41 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
    background-color:#ffce79;
    /*color:#ffffff;*/
    color: white;
    display:inline-block;
    text-shadow:1px 1px 6px #ce8e28;
    -webkit-box-shadow:inset 1px 1px 0px 0px #fceaca;
    -moz-box-shadow:inset 1px 1px 0px 0px #fceaca;
    box-shadow:inset 1px 1px 0px 0px #fceaca;
}.css_btn_class:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #eeaf41), color-stop(100%, #ffce79) );
    background:-moz-linear-gradient( center top, #eeaf41 5%, #ffce79 100% );
    background:-ms-linear-gradient( top, #eeaf41 5%, #ffce79 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeaf41', endColorstr='#ffce79');
    background-color:#eeaf41;
}.css_btn_class:active {
    position:relative;
    top:1px;
}

 /**
  * Every item displayed horizontally
  */
.css_btn_class:first-child{
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   /*left: 10%;
   width: 25%;
   padding-bottom: 20px;*/
   font-size:18px;
}
.css_btn_class:nth-child(2){
   /*position: absolute;
   padding-top: 20px;
   left: 39%;
   padding-bottom: 20px;
   padding-left: 100px;
   width: 20%;*/
   font-size:18px;
}
.css_btn_class:nth-child(3){
    /*position: absolute;
    right:5%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 300px;
    width: 20%;*/
    font-size:18px;
}
.css_btn_class:nth-child(4){
    /*position: absolute;
    right:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 300px;
    width: 20%;*/
    font-size:18px;
}


/**
 * end of buttons 
 */

/* Place all stylesheet code here */
ul.polaroids { width: 100%; margin: 40px 0px 0px 0px;}
ul.polaroids li { display: inline; }
ul.polaroids a {-moz-border-radius:40px;-webkit-border-radius:40px;border-radius:40px;background: rgba(255,255,255,0.7); display: inline; float: left; margin: 0 0 27px 30px; width: auto; padding: 10px 10px 15px; text-align: center; font-family:'ff-han', sans-serif; text-decoration: none; color: #333; font-size: 18px; -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25); -webkit-transform: rotate(-2deg); -webkit-transition: -webkit-transform .15s linear; -moz-transform: rotate(-2deg); }
ul.polaroids img { display: block; width: 190px; margin-bottom: 12px; }
ul.polaroids a:after { content: attr(title); }

ul.polaroids li:nth-child(even) a { -webkit-transform: rotate(2deg);  -moz-transform: rotate(2deg); }
ul.polaroids li:nth-child(3n) a { -webkit-transform: none; position: relative; top: -5px;  -moz-transform: none; }
ul.polaroids li:nth-child(5n) a { -webkit-transform: rotate(5deg); position: relative; right: 5px;  -moz-transform: rotate(5deg); }
ul.polaroids li:nth-child(8n) a { position: relative; right: 5px; top: 8px; }
ul.polaroids li:nth-child(11n) a { position: relative; left: -5px; top: 3px; }

ul.polaroids li.messy a { margin-top: -375px; margin-left: 160px; -webkit-transform: rotate(-5deg); -moz-transform: rotate(-5deg); }

ul.polaroids li a:hover { -webkit-transform: scale(1.25); -moz-transform: scale(1.25); -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5); -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5); position: relative; z-index: 5;background: rgba(0,100,255,0.2);color:white; }
.departmentFrame{
    position:relative;
    margin-top:2%;
    top:10%;
    left:20%;
    width:80%;
    height:80%;
    overflow:scroll;
}
#da-thumbs{
    position:relative;
    height:200px;
    overflow:scroll;
}
#detailPanel{
    position:fixed;
    width:100%;
    left:0%;
    top:0%;
    height:100%;
    z-index: 100;
    background-color: rgb(224,224,224);
}
#detail{
    position:fixed;
    width:90%;
    left:5%;
    top:5%;
    height:80%;
    z-index: 100;
}
#close{
    position:fixed;
    right:5%;
    width:100px;
    height:40px;
    top:5%;
    z-index:200;
    color:white;
    font-size:20px;
    text-align: center;
    background-color:black;
    background-size: 50px;
}
#detailFrame{
    position:relative;
    width:100%;
    height:100%;
}