
body {
  padding-top: 60px;
  text-align: justify;
}

blockquote {
  padding-left: 4px;
  background: #F5F5F5;
  border-left: 2px dotted #428BCA;
}

span.glyphicon {
  font-size: 83.3%;
}

main {
  margin-bottom: 40px;
}

main h3 {
  font-size: 144%;
}

main p {
  margin-bottom: 1em;
  line-height: 169%;
}

footer address {
  margin: 10px 0;
  color: #999999;
}

.wm-carousel {
  margin: 30px 15px;
}

.wm-carousel img {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.wm-features .tab-content {
  padding: 20px 0;
  border: 1px solid #DDDDDD;
  border-top: none;
}

.wm-features img {
  width: 100%;
}

.wm-video {
  display: none;
  position: fixed;
  top: 100px;
  padding: 0 20px 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  box-shadow: 0px 6px 12px rgba(0,​ 0,​ 0,​ 0.176);
  z-index: 1000;
}

.wm-video iframe {
  width: 100%;
  height: 400px;
}

.wm-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 5px;
  font-size: 240%;
  line-height: 100%;
}

.wm-sign {
  margin: 5% 0;
}

.wm-sign-in, .wm-sign-up {
  margin-bottom: 20px;
}

.wm-sign-button {
  display: block;
  min-width: 180px;
  max-width: 50%;
  margin: 15px 0;
}

.wm-quick-link {
  float: right;
  margin-top: 7px;
  font-size: 14px;
}

.wm-inline-form {
  display: inline-block;
}

.wm-sns-share img {
  margin: 0 2px;
  cursor: pointer;
}

.wm-sns-share a {
  margin-top: 0;
}

.wm-gallery img {
  width: 100%;
}

.wm-gallery figcaption {
  margin: 8px 0 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.wm-recommend img {
  width: 100%;
}

.wm-recommend figcaption {
  margin: 6px 0 18px;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.wm-metadata {
  line-height: 169%;
}

.wm-metadata span {
  margin-right: 7px;
  color: #999999;
}

.wm-book-list {
  margin: 2em;
}

.wm-indent {
  margin: 1em 0;
  text-indent: 2em;
}

.wm-comments {
  margin: 25px 0 0;
}

.wm-comments h4 {
  margin: 14px 0;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
}

.wm-user-info img {
  width: 100%;
  max-width: 80px;
}

.wm-user-comment {
  font-size: 13px;
  line-height: 169%;
}

.wm-user-comment h5 {
  margin: 0 0 13px;
}

.wm-user-comment h5 span {
  float: right;
  font-size: 12px;
  color: #999999;
}

.wm-list-popular li {
  margin-bottom: 4px;
}

.wm-tags-popular {
  margin-bottom: 4px;
}

.wm-tag-category {
  font-size: 15px;
}

@media (min-width: 768px) {
  .navbar-form {
    width: 28%;
    max-width: 400px;
  }
}

